:root {
  --teal: #2ec1ac;
  --teal-hover: #279e8c;
}

*{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.h-font{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield; 
}

.custom-bg {
  background-color: var(--teal);
  border: 1px solid var(--teal);
}
.custom-bg:hover {
  background-color: var(--teal-hover);
  border-color: var(--teal-hover);
}

.h-line {
    width: 150px;
    height: 1.7px;
    margin: 0 auto;
}

.custom-alert{
    position: fixed;
    top: 25px;
    right: 25px;
}